
p {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 200px;
    margin-left: 200px;
}

img {
    margin-left: 350px;
}

h3 {
    background-color: #B0C4DE;
}

h1{
    background-color: #FFE4E1;
}

h4 {
    margin-left: 150px;
    background-color: #FFDAB9;
}

ul {
    margin-left: 0px;
}